table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #90A5B6;
    color: white;
}

input {
    width: 100%;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.add-more-team {
    padding-left: 20%;
}
