<div class = "leagueInfo" >
<p>League List:</p>
  <ul class = "leagues">
    <li *ngFor = "let league of leagues" (click)="onSelect(league)" [class.selected] = "league === selectedLeague">
      <span class = "badge">{{league.id}}</span>{{league.name}}
    </li>
  </ul>
</div>

<div *ngIf = "selectedLeague" >
  <div class = "leagueInfo" >
    <button (click)="hideLeagueInfo()">Hide</button>
    <h2>{{ selectedLeague.name | uppercase }}: </h2>
    <p>{{ selectedLeague.description }}</p>
  </div>
  <app-teams [teams] = "selectedLeague.leagueTeams" ></app-teams>
</div>

<nav>
  <a routerLink = "/">Back</a>
</nav>
