<div *ngIf = "teams" >
  <table>
    <tr>
      <th width="7%">Position</th>
      <th width="32%">Club</th>
      <th width="7%">Played</th>
      <th width="7%">W</th>
      <th width="7%">D</th>
      <th width="7%">L</th>
      <th width="7%">GF</th>
      <th width="7%">GA</th>
      <th width="7%">GD</th>
      <th width="12%">Points</th>
      <!-- <th>Check W-D-L</th>
      <th>Check GD</th>
      <th>Check Points</th> -->
    </tr>
      <tr *ngFor = "let team of teams | sortByPoints; let i = index ">
          <td>{{ i + 1 }}</td>
          <td><!-- <img src="../../assets/teams/{{team.name}}.png" height="15" width="15" /> --><b>{{ team.name }}</b></td>
          <td>{{ team.matches }}</td>
          <td>{{ team.won }}</td>
          <td>{{ team.drawn }}</td>
          <td>{{ team.lost }}</td>
          <td>{{ team.goalsFor }}</td>
          <td>{{ team.goalsAgainst }}</td>
          <td>{{ team.goalDifference }}</td>
          <td><b>{{ team.points }}</b></td>
          <!-- <td>{{ team.matches - team.won - team.drawn - team.lost }}</td>
          <td>{{ team.goalsFor - team.goalsAgainst - team.goalDifference }}</td>
          <td>{{ team.won*3 + team.drawn - team.points }}</td> -->
      </tr>
  </table>
</div>
