<h3>Top Leagues</h3>
<div class="grid grid-pad">
  <a *ngFor="let league of leagues" class="col-1-5">
    <div class="module league" (click)="onSelect(league)" [class.selected] = "league === selectedLeague">
      <h4>{{league.name}}</h4>
    </div>
  </a>
</div>
<div *ngIf="teams">
  <table>
    <tr>
      <th width="12%">Position</th>
      <th width="40%">Club</th>
      <th width="12%">Played</th>
      <th width="12%">GD</th>
      <th width="24%">Points</th>
    </tr>
    <tr *ngFor="let team of teams | sortByPoints; let i = index ">
      <td>{{ i + 1 }}</td>
      <td><b>{{ team.name }}</b></td>
      <td>{{ team.matches }}</td>
      <td>{{ team.goalDifference }}</td>
      <td><b>{{ team.points }}</b></td>
    </tr>
  </table>
</div>
